  /***************/
 /* CalSWIM CSS */
/***************/

/* Elements */
html {}
body { 
	margin: 0;
	padding: 0;
	font-family: arial,sans-serif;
    font-size: 13px;
    color: #222222;
    background-color: #FEEEBD;
}
h1{
	font-size: 33px;
	padding: 0px;
	margin: 0px;
}
h2{
	color: #655241;
	font-variant:small-caps;
	text-decoration: underline;
}
h3{
	margin: 0px;
	padding: 3px;
}

/* Classes */
.dark {
    background: none repeat scroll 0 0 #2A3333;
    color: #FFFFFF;
}
.rounded {
    border-radius: 8px 8px 8px 8px;
}
.marker_content{
	
}
.highlight_input{
	border: 1px solid #F5AD66;
}
.google-visualization-table-table{
	width: 100%;
	height: 100%;
}
.tab{
	background-color: #FF4500;
	color: #FFF6C1;
	font-size: 10pt;
	font-family: 'Helvetica Neue', Arial, sans-serif;	
	padding: 5px 15px 5px 15px;
	float: left;
	margin-right: 5px;
	text-decoration: none;
	font-weight: bold;
}

/* IDs */
#header {  
    width: 100%;
    background-color: #FEEEBD; /*#FFF6C1*/
    color: #655241;  
}
#menu {
	margin-left: 35px;
}
#title{
	width: 470px;
	margin-left: 35px;
}
#title p{
	rgba(101, 82, 65, 0.8);
	font-family: georgia;
}
#uppload_message{
	display: none;
}
#map_canvas_wrapper {
	margin-top: 65px;	
	clear:both;
}
#map_canvas { 
	width: 100%;
	height: 70%;
	margin: auto;
}
#table_canvas { 
    width: 100%;
    height: 30%;
    overflow: hidden; 
}
#search_canvas {	
	clear:both;	
}
#search{
	padding: 15px 30px 15px 30px;
}
#footer{
    background-color: #FEEEBD; /*#FFF6C1*/
    color: #655241; 
	clear: both;
	padding-left: 35px;
	font-size: 8pt;
	font-variant:small-caps;
	width: 350px;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

/* Upload Form CSS */
#form_hidden_wrapper{
	display: none;
}
.colorbox_content{
	margin: auto;	
	padding: 15px;
	overflow-x: hidden;
	overflow-y: auto;
	width: 400px;            
}
label.error { 
    float: none;
    color: red;
    display: block;
    clear: both;
    padding-left: .5em;
    vertical-align: top;
}
#upload_button{
    margin-top: 15px;
}
form div.indent{    
    /*border-radius: 6px 6px 6px 6px;*/
    margin: auto;
    padding: 23px;
    width: 350px;    
    /* background: url("/css/humanity/images/ui-bg_glass_70_ede4d4_1x400.png") repeat-x scroll 50% 50% #EDE4D4; */
    /*background-color: #EDE4D4;*/
    /*border: 1px solid #CDC3B7;*/
    /*color: #3F3731;*/
    font-weight: normal;
}
#data_details p{
	word-wrap: break-word; 
    padding: 10px;
    margin: 0px;
    background-color: #FFFFFF;
}
.rounded_box{
	border-radius: 6px 6px 6px 6px;
    margin: auto;
    padding: 23px; 
    background-color: #EDE4D4;
    border: 1px solid #CDC3B7;
    color: #3F3731;
    font-weight: normal;    
}
#data_details_wrapper{	
	overflow: auto;
}
legend{
    font-size: 12pt;
}
.input_wrapper{
	margin-bottom: 15px;
}
label{
	font-weight: bold;
	font-style: italic;	
}
.full{
    width: 350px;
    clear: both;
}
input.half {	
    width: 125px;  
}