  /***************/
 /* CalSWIM CSS */
/***************/

/* Elements */
html {}
body { 
	margin: 0;
	padding: 0;
	font-family: arial,sans-serif;
    font-size: 13px;
    color: #222222;
}
h1{
	padding: 0px;
	margin: 0px;
}

/* Classes */
.dark {
    background: none repeat scroll 0 0 #2A3333;
    color: #FFFFFF;
}
.rounded {
    border-radius: 8px 8px 8px 8px;
}
.marker_content{
	
}

/* IDs */
#header {  
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    height: 50px;
}
#upload {
	float: right;
}
#uppload_message{
	display: none;
}
#map_canvas_wrapper {
	margin-top: 65px;	
	clear:both;
}
#map_canvas { 
	width: 100%;
	height: 70%;
	margin: auto;
}
#table_canvas_wrapper{
	width: 100%;
    height: 30%;
}
#table_canvas { 
    width: 100%;
    height: 100%;
    overflow: auto;
}
#search_canvas {	
	clear:both;	
}
#footer{	
	clear: both;
}

/* Upload Form CSS */
#form_hidden_wrapper{
	display: none;
}
#form_wrapper{
	margin: auto;	
	padding: 15px;
	overflow-x: hidden;
	overflow-y: auto;
	width: 400px;            
}
label.error { 
    float: none;
    color: red;
    display: block;
    clear: both;
    padding-left: .5em;
    vertical-align: top;
}
#upload_button{
    margin-top: 15px;
}
.indent{    
    border-radius: 6px 6px 6px 6px;
    margin: auto;
    padding: 23px;
    width: 350px;    
    background: url("/css/humanity/images/ui-bg_glass_70_ede4d4_1x400.png") repeat-x scroll 50% 50% #EDE4D4;
    border: 1px solid #CDC3B7;
    color: #3F3731;
    font-weight: normal;
}
legend{
    font-size: 12pt;
}
.input_wrapper{
	margin-bottom: 15px;
}
.input_wrapper label{
	font-weight: bold;
	font-style: italic;
	color: #3F3731;
}
.full{
    width: 350px;
    clear: both;
}
input.half {	
    width: 125px;  
}